<b>Objectifs:</b>

Dans cette séance, on va terminer avec les concepts fondamentales du langage Python :
- Boucle while
- Les fonctions
- Les expressions lambda
- Structures des données : tuples, ensembles et dictionnaires
- Type datetime

<b>Boucle While</b>

In [ ]:
x
while x :

<b>Les fonctions</b>

In [3]:
def somme(x,y):
    s=x+y
    return s

In [11]:
s=somme(2,3)

Note:
- Les arguments de la fonction sont par défaut positionnels (obligatoires)

In [9]:
s

5

In [13]:
s=somme(y=3,x=2)

In [14]:
s

5

On peut passer les arguments sans respecter leur ordre dans la définition, à condition de les indiquer avec leurs noms

In [16]:
def calcul(x,y):
    s=x+y
    p=x*y
    return s,p

In [22]:
t,q=calcul(2,3)

In [23]:
t

5

In [24]:
q

6

Note:

Une fonction peut retourner plusieurs valeurs de retour

In [27]:
def calculer_puttc(puht,tva=0.19):
    puttc=puht*(1+tva)
    return puttc

In [28]:
# Pas besoin de passer le tva si elle est 19%
puttc=calculer_puttc(100)
puttc

119.0

In [31]:
# On passe la valeur de tva qi elle est diff de 19%
puttc=calculer_puttc(100,0.1)
puttc

110.00000000000001

Variable globale

Une variable est considérée globale si elle est déclarée en dehors de toute fonction

In [33]:
tva=0.19 # variable globale
# parce qu'elle est utilisée par plusieurs fonctions

In [34]:
def calculer_puttc(puht):
    puttc=puht*(1+tva)
    return puttc

In [36]:
def augmenter_tva(new_tva):
    # Python interdit par defaut la modif de variable globale tva
    # Il créé une variable locale qui porte le même nom
    tva=new_tva

In [37]:
augmenter_tva(0.1)

In [38]:
tva

0.19

Note:

Une variable globale est accessible par defaut en lecture seulement !

Elle n'est pas modifiable par defaut

In [39]:
def augmenter_tva(new_tva):
    global tva
    tva=new_tva

In [40]:
augmenter_tva(0.1)

In [41]:
tva

0.1

Note:

Pour permettre la modif d'une variable globale, il faut indiquer l'instruction suivante au debut de la fonction :

    global nom_variable_globale

In [48]:
noms=[]

In [55]:
def ajouter_nom_fin(nom):
    # global noms
    noms.append(nom)

In [56]:
def ajouter_nom_indice(nom, indice):
    # global noms
    noms.insert(indice, nom)

In [57]:
ajouter_nom_fin('ali')

In [58]:
noms

['sonia', 'ali', 'ali']

In [59]:
ajouter_nom_indice("sonia",0)

In [60]:
noms

['sonia', 'sonia', 'ali', 'ali']

Expression lambda

In [61]:
def somme(x,y):
    return x+y

In [ ]:
somme=lambda x,y : x+y

In [62]:
somme(2,3)

5

In [64]:
def calcul(x,y,op):
    print(op(x,y))

In [65]:
calcul(2,3,lambda x,y: x+y)

5

In [66]:
calcul(2,3,lambda x,y: x*y)

6

In [67]:
calcul(2,3,lambda x,y: (x+y)**2)

25

In [68]:
def somme(x,y):
    if x>0 and y>0:
        return x+y
    else:
        return -(x+y)

In [69]:
calcul(2,3,somme)

5

<b>Tuples</b>

In [70]:
nombres=(10,20,30,40)

In [71]:
len(nombres)

4

In [72]:
nombres[0]

10

In [73]:
nombres[-1]

40

In [74]:
nombres[:2]

(10, 20)

In [75]:
nombres[::-1]

(40, 30, 20, 10)

In [76]:
nombres[0]=100

TypeError: 'tuple' object does not support item assignment

In [77]:
del nombres[0]

TypeError: 'tuple' object doesn't support item deletion

In [78]:
nombres.append(3000)

AttributeError: 'tuple' object has no attribute 'append'

<b>Ensembles (sets)</b>

In [79]:
s={1,2,2,3,1,2,2,4,6}

In [80]:
len(s)

5

In [81]:
s

{1, 2, 3, 4, 6}

In [82]:
s[0]

TypeError: 'set' object is not subscriptable

Un ensemble est ordreless !

In [83]:
s.add(10)

In [84]:
s

{1, 2, 3, 4, 6, 10}

In [85]:
s.add(1)

In [86]:
s

{1, 2, 3, 4, 6, 10}

In [87]:
s.add(5)

In [88]:
s

{1, 2, 3, 4, 5, 6, 10}

In [89]:
s.add("ali")

In [90]:
s

{1, 10, 2, 3, 4, 5, 6, 'ali'}

<b>Dictionnaires</b>

In [91]:
noms=['Ali','Sonia','Rahma']
notes=[15.75,18.8,14]

In [93]:
indice=noms.index('Sonia')
notes[indice]

18.8

In [94]:
indice=noms.index('Sonia')
del noms[indice]
del notes[indice]

In [95]:
noms

['Ali', 'Rahma']

In [96]:
notes

[15.75, 14]

In [99]:
notes={'Ali':15.75,'Sonia':18.8,'Rahma':14}

In [100]:
notes[0]

KeyError: 0

In [101]:
notes.keys()

dict_keys(['Ali', 'Sonia', 'Rahma'])

In [102]:
notes['Rahma']

14

In [103]:
notes.values()

dict_values([15.75, 18.8, 14])

In [104]:
notes['Sonia']+=1

In [105]:
notes

{'Ali': 15.75, 'Sonia': 19.8, 'Rahma': 14}

In [106]:
del notes['Sonia']

In [107]:
notes

{'Ali': 15.75, 'Rahma': 14}

In [108]:
len(notes)

2

In [109]:
notes.items()

dict_items([('Ali', 15.75), ('Rahma', 14)])

In [113]:
for nom,note in notes.items():
    print(nom,'a une note',note)

Ali a une note 15.75
Rahma a une note 14

<b>Type datetime</b>

Il faut importer le type datetime du module datetime

In [114]:
from datetime import datetime

In [115]:
x=10

In [116]:
x=int(10)

In [117]:
x

10

In [118]:
s='hello'

In [119]:
s=str('hello')

In [120]:
s

'hello'

In [126]:
# declarer une variable de type datetime
d=datetime(2001,2,11)

In [127]:
d

datetime.datetime(2001, 2, 11, 0, 0)

In [129]:
d=datetime(2001,2,11,12,41,50)

In [130]:
d

datetime.datetime(2001, 2, 11, 12, 41, 50)

Propriétés

In [131]:
d.year

2001

In [132]:
d.month

2

In [133]:
d.day

11

In [134]:
d.hour

12

In [141]:
date_naissance_s='12/01/2001 12:40:30'

Conversion d'une chaine en datetime

In [143]:
date_naissance=datetime.strptime(date_naissance_s,'%d/%m/%Y %H:%M:%S')

In [144]:
date_naissance

datetime.datetime(2001, 1, 12, 12, 40, 30)

ModuleNotFoundError: No module named 'numpy'